body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Markazi;
  font-size: 64pt;
  color: #333333;
}

h3 {
  font-family: Markazi;
  font-size: 40pt;
  color: #333333;
}

h4 {
  font-weight: bold;
  font-family: Karla;
  font-size: 18pt;
  color: #333333;
}

h5 {
  font-size: 16pt;
  font-family: Karla;
  color: #ee9972;
  font-weight: medium;
}

p {
  font: Karla; 
}

button {
  background-color: #f4ce14;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#HeaderNav.flex-container {
  display: flex;
  justify-content: left;
}

#HeaderLogo {
  margin: 1rem;
}

#PageNav {
  list-style: none;
  margin-top: 1.6rem;
}

#PageNav li {
  display: inline;
  margin: .5rem;
}

footer {
  display: flex;
  justify-content: center;
  font-size: small;
}

#WelcomeSection img{
  width: 300px;
  margin: 3rem;
}

.container {
  display: flex;
  justify-content: space-around;

}

.container .column {
  flex: 1;
  text-align: center;
  background-color: #495e57;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  background-color: #edefee;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
  background-color: #edefee;
}

.card img {
  width: 250px;
  height: 200px;
  padding-top: 1rem;
  border-radius: 5px 5px 0 0;
  background-color: #edefee;
}

#PagNav :link {
  font-weight: bold;
  font-family: Karla;
  font-size: 18pt;
  color: #333333;
}